:root {
    --Primary-Brand-color-600: #8C0E2C;
    --Primary-Brand-color-500---Main: #AF1237;
    --Primary-Brand-color-100: #F9D6DF;
    --Primary-Brand-color-50: #FBEBEF;
    --Primary-Brand-color-25: #FFF6F9;

    --Neutral-Gray-500: #333333;
    --Neutral-Gray-400: #4F4F4F;
    --Neutral-Gray-300: #9C9C9C;
    --Neutral-Gray-200: #BDBDBD;
    --Neutral-Gray-100: #DADADA;
    --Neutral-Gray-50: #F0F0F0;
    --Neutral-Gray-25: #F8F8F8;
    --Neutral-Gray-5: #FAFAFA;


    --Neutral-White-500: #FFFFFF;

    --Sematic-Dangerous-Red-500: #E11E1E;
    --Sematic-Dangerous-Red-50: #FCE8E8;
    --Sematic-Dangerous-Red-25: #FDF1F1;

    --Sematic-Success-Green-500: #3EC161;
    --Sematic-Success-Green-50: #ECF9EF;
    --Sematic-Success-Green-25: #F3FBF6;



    --Sematic-Information-Blue-500: #0084FF;
    --Sematic-Information-Blue-600: #006ACC;
    --Sematic-Information-Blue-50: #E5F3FF;
    --Sematic-Information-Blue-25: #F7FBFF;

    --Sematic-Information-Blue-25: #F7FBFF;
    --Sematic-Warning-Orange-500: #FF8B00;
    --Sematic-Warning-Orange-50: #FFF3E5;
    --Sematic-Warning-Orange-25: #FFF8F0
}

.dark {
    --Primary-Brand-color-600: #8C0E2C;
    --Primary-Brand-color-500---Main: #AF1237;
    --Primary-Brand-color-100: #F9D6DF;
    --Primary-Brand-color-50: #FBEBEF;
    --Primary-Brand-color-25: #FFF6F9;


    --Neutral-Gray-500: #333333;
    --Neutral-Gray-400: #4F4F4F;
    --Neutral-Gray-300: #9C9C9C;
    --Neutral-Gray-200: #BDBDBD;
    --Neutral-Gray-100: #DADADA;
    --Neutral-Gray-50: #F0F0F0;
    --Neutral-Gray-25: #F8F8F8;
    --Neutral-Gray-5: #FAFAFA;


    --Neutral-White-500: #FFFFFF;

    --Sematic-Dangerous-Red-500: #E11E1E;
    --Sematic-Dangerous-Red-50: #FCE8E8;
    --Sematic-Dangerous-Red-25: #FDF1F1;

    --Sematic-Success-Green-500: #3EC161;
    --Sematic-Success-Green-50: #ECF9EF;
    --Sematic-Success-Green-25: #F3FBF6;



    --Sematic-Information-Blue-500: #0084FF;
    --Sematic-Information-Blue-600: #006ACC;
    --Sematic-Information-Blue-50: #E5F3FF;
    --Sematic-Information-Blue-25: #F7FBFF;

    --Sematic-Information-Blue-25: #F7FBFF;
    --Sematic-Warning-Orange-500: #FF8B00;
    --Sematic-Warning-Orange-50: #FFF3E5;
    --Sematic-Warning-Orange-25: #FFF8F0
}