@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.b-skeleton {
    position: relative;
    overflow: hidden;
    background-color: var(--Neutral-Gray-100, #f5f5f5);
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right,
            var(--background-shimmer, var(--Neutral-Gray-100, #f5f5f5)) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            var(--background-shimmer, var(--Neutral-Gray-100, #f5f5f5)) 100%);
    background-size: 1000px 100%;

    &.circle {
        border-radius: 50%;
    }

    &.rectangle {
        // border-radius được set từ props
    }
}